<p style="color: green"><%= notice %></p>

<h1>Add New Food</h1>

<%= render "form", class:"food-form", food: @food %>

<br>

<div>
  <%= link_to "Back to foods", foods_path, class:"food-form" %>
</div>